<html>
<head>
  <title></title>
  <link href="/stylesheets/resources/css/ext-all.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="/javascripts/ext-all.js"></script>
  <script type="text/javascript" src="/javascripts/ext-lang-zh_CN.js"></script>
  <script type="text/javascript" src="/javascripts/edit_cmd_set.js"></script>
</head>
<body>
</body>
</html>