/* Style for application.html.erb */
#notice {
    margin-left: 500px;
    display: block;
    font-size: 18px;
    float: left;
}

ul#welcome_info {
    float: right;
}

.add {
    background: url("/images/add.png");
}
