<div>
  <fieldset id="detail">
	<p>
	  应用信息
      <% @app.profile.command_defs.each{|cdef| %>
      <span><%=link_to cdef.name, new_app_command_path(@app)+"?def=#{cdef.id}", :remote => true %></span> 
      <% }%>
	</p>
  <% %w{name}.each{|column| %>
    <label><%=App.human_attribute_name column.to_sym %></label>
    <span><%=@app.send column.to_sym %></span>
  <% } %>
  </fieldset>
    <p>机器列表</p>
    <div id="machines">
      <ul>
  <% @app.machines.each{|machine| %>
        <li><%=link_to machine.name, machine_path(machine) %></li>
  <% } %>
      </ul>
    </div>
</div>
