<div>
  <fieldset id="detail">
	<p>
	  应用信息
	  <span>

	  </span>
	</p>
  <% %w{name}.each{|column| %>
    <label><%=App.human_attribute_name column.to_sym %></label>
    <span><%=@app.send column.to_sym %></span>
  <% } %>
  </fieldset>
    <p>所属机器列表</p>
    <div id="machines">
      <ul>
  <% @app.machines.each{|machine| %>
        <li><%=link_to machine.name, machine_path(machine) %></li>
  <% } %>
      </ul>
    </div>
</div>
