<ul>
  <% if current_user %>
  <%    current_user.apps.each{|app| %>
      <li><%=link_to app.name, :controller => :home, :action => :app, :id => app.id %></li>
  <%    } %>
  <% else %>
  <% end %>
</ul>