<ul>
  <% if current_user %>
  <%    current_user.apps.each{|app| %>
      <li><%=link_to app.name, :controller => :home, :action => :app, :id => app.id %></li>
  <%    } %>
  <% else %>
  <%    App.limit(10).each{|app| %>
      <li><%=app.name %></li>
  <%    } %>
  <% end %>
</ul>
