<table class="<%= resource_class.to_s.downcase %> detail">
<% resource.attributes.each_pair do |attr, value| %>
  <% next if ['id', 'created_at', 'updated_at'].include?(attr) %>
  <tr>
    <th><%= resource_class.human_attribute_name attr.to_sym %></th>
    <td><%= value %></td>
  </tr>
  <tr><td colspan="2" id="machines_title">机器列表：</td></tr>
  <% resource.machines.each{|machine| %>
  <tr>
  	<td colspan="2"><label><%=link_to machine.name, machine_path(machine) %></label></td>
  <% }%>
  </tr>
<% end %>
</table>
