<table class="<%= resource_class.to_s.downcase.pluralize %> collection">
  <thead>
    <tr>
    <% controller.attributes.each do |field| %>
      <th><%= resource_class.human_attribute_name field.to_sym %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |r| %>
    <tr>
    <% controller.attributes.each do |field| %>
      <td><%= link_to r.send(field), resource_url(r) %></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
