<table class="<%= resource_class.to_s.downcase.pluralize %> collection">
  <thead>
    <tr>
    <% controller.attributes.flatten.each do |field| %>
      <th><%= resource_class.human_attribute_name field.to_sym %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |r| %>
    <tr>
    <% controller.attributes[0].each do |field| %>
      <td><%= r.send field %></td>
    <% end %>
    <% controller.attributes[1].each do |field| %>
      <td><%= link_to r.send(field), eval("#{field}_path(r)") %></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
